<!DOCTYPE html>
<html>
  <head>
    <title>Kyle Duffy's portfolio</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Home</h1>
    <p></p>
  </body>
</html>
