<% include ./partials/header.ejs %>

    <div class="container">
        <h1>projects</h1>
        <div class="col-xs-4">
            <h3 id="projTitle">name of proj</h3>
            <image id="smallcircleimg" class="img-circle" src="/images/me.jpg" alt="alt picture text" width="100" height="100"></image>
            <div id="paragraph" class="jumbotron">
                <p>A description of the project goes here</p>
            </div>
        </div>
        <div class="col-xs-4">
            <h3 id="projTitle">name of proj</h3>
            <image id="smallcircleimg" class="img-circle" src="/images/me.jpg" alt="" width="100" height="100"></image>
            <div id="paragraph" class="jumbotron">
                <p>A description of the project goes here</p>
            </div>
        </div>
        <div class="col-xs-4">
            <h3 id="projTitle">name of proj</h3>
            <image id="smallcircleimg" class="img-circle" src="/images/me.jpg" alt="" width="100" height="100"></image>
            <div id="paragraph" class="jumbotron">
                <p>A description of the project goes here</p>
            </div>
        </div>
    </div>
<% include ./partials/footer.ejs %>
