body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#name_photo_div{
  float:left;

}
#paragraph{
  padding-top: 150px;
}
#footerText{
  float:right;
  color: #00B7FF;
}