body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#name_photo_div{
  float:left;

}
#paragraph{
  padding-top: 150px;
}
#footerText{
  float:right;
  color: #00B7FF;
}
#smallcircleimg{
  display: block;
  margin: auto;
  width: 33%;

}
#paragraph{

  margin-top: 1em;
  display: table-cell;
  vertical-align: middle;
  display: table;
}
#paragraph.p{
  vertical-align: middle;
  display: table-cell;
}
#projTitle{
  text-align:center;

}